body {
    font-family: Arial;
    padding: 20px;

  }

  .header {
    margin: 50px;
  }

  #respond {
    margin-top: 40px;
  }

  h2, h5 {
    padding: 0;
    margin: 0;
  }

  .card{ 
    background-color: #f1f1f1;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    padding: 18px;
    border-radius: 10px;
    margin:10px;
    color: rgba(0, 0, 0, 0.7);
   
  }

  p {
    color:rgba(0, 0, 0, 0.5)
  }

  .cards{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    align-content: center;
    margin-left:115px;

    }
  
    form button { margin: 5px 0px; }
    textarea { display: block; margin-bottom: 10px; }
    /*post*/
    .post { border: 1px solid #ccc; margin-top: 10px; }
    /*comments*/
    .comments-section { margin-top: 10px; border: 1px solid #ccc; }
    .comment { margin-bottom: 10px; }
    .comment .comment-name { font-weight: bold; }
    .comment .comment-date {
      font-style: italic;
      font-size: 0.8em;
    }
    .comment .reply-btn, .edit-btn { font-size: 0.8em; }
    .comment-details { width: 91.5%; float: left; }
    .comment-details p { margin-bottom: 0px; }
    .comment .profile_pic {
      width: 35px;
      height: 35px;
      margin-right: 5px;
      float: left;
      border-radius: 50%;
    }
    /*replies*/
    .reply { margin-left: 30px; }
    .reply_form {
      margin-left: 40px;
      display: none;
    }
    #comment_form { margin-top: 10px; }





  #respond input[type='text'],
  #respond input[type='email'],
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }

  


  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1200px) {

    .card {
      resize: vertical;
      width: fit-content;
      overflow: auto;
      column-count: 2;
      column-width:300px;
    }
  img {
    max-width: 100%;
    height: auto;
  }
  
  }
  

